<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">
<head>
    <title>Takeabook</title>
    <!--Css-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body style="background-color: #f7f7f7">
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-md">
            <a class="navbar-brand" style="color: white" href="/posts">Take A Book</a>
        </div>
    </nav>
</header>

<section>
    <div class="container" style="width: 60%;padding-bottom: 30px;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: #f7f7f7;padding-left: 0; padding-top: 20px">
                <li class="breadcrumb-item" aria-current="page"><a href="/posts">Posts</a></li>
                <li class="breadcrumb-item active" aria-current="page">Editar Post</li>
            </ol>
        </nav>
        <div>
            <th:block th:include="validationMenssage"></th:block>
            <form method="post" th:action="@{/savepost}" th:object="${post}">
                <div class="form-group" style="margin-top: 10px">
                    <input type="text" class="form-control" name="title" placeholder="Titulo *" th:field="${post.title}">
                </div>
                <div class="form-group" style="margin-top: 10px;margin-bottom: 10px">
                    <input type="text" class="form-control" name="author" placeholder="Author *" th:field="${post.author}">
                </div>

                <textarea id="summernote" type="text" class="form-control" name="text" placeholder="Texto *" th:text="${post.text}"></textarea>

                <small class="form-text text-muted" style="padding-top: 5px">(*) Campos Obrigatórios</small>

                <div>
                    <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Publicar</button>
                    <a href="/posts" class="btn btn-light" role="button" style="margin-top: 10px">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
<script> $('#summernote').summernote({ placeholder: 'Texto *', tabsize: 2, height: 300 }); </script>
</body>
</html>