<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">
<head>
    <title>Takeabook</title>
    <!--Css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body style="background-color: #f7f7f7">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <div class="container-md">
                <a class="navbar-brand" style="color: white" href="/posts">Take A Book</a>
            </div>
            <a href="/newpost" class="btn btn-primary" role="button" style="margin-right: 10px">Novo Post</a>
        </nav>
    </header>

    <section>
        <div class="container" style="width: 60%;padding-bottom: 30px;">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="background-color: #f7f7f7;padding-left: 0; padding-top: 20px">
                    <li class="breadcrumb-item active" aria-current="page">Posts</li>
                </ol>
            </nav>

            <div class="card shadow-sm bg-white rounded" style="margin-top: 20px;" th:each="post : ${posts}">
                <div class="card-body">
                    <p class="card-subtitle mb-2 text-muted" style="font-size: 0.8rem;">
                        <span th:text="${post.author}"></span>
                        <span th:text="${post.date}"></span>
                    </p>

                    <a th:href="${(#mvc.url('TC#getPostDetails').arg(0,post.id)).build()}">
                        <h4 class="card-title" style="font-weight: bold;color: black;padding-top: 5px">
                            <span th:text="${post.title}"></span>
                        </h4>
                    </a>

                    <p class="card-text">
                        <span th:utext="${#strings.abbreviate(post.text,400)}"></span>
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>